[Desktop Entry]
Version=1.0
Type=Link
Name=Visualizar o vídeo ENIAC: The First Computer do YouTubeENIAC: The First Computer
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=k4oGI_dNaPc&authuser=0
